$primary-color: red;
$default-pad: 10px;
$default_border: 0px;
$primary-green: green;

@for $i from 1 to 10 {
    $default_border: $i + px;
}

$primary-text: '';

@if primary-color == blue {
    $primary-text: italic;
}else{
    $primary-text: bold;
}

body{
    background-color: $primary-color!important;
    padding: $default-pad;
    margin: $default_border;
    font-style: $primary-text;
}

.default-green{
    background-color: $primary-green;
}